{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

        <p id="test" >MENU DA INDEX</p>
        
        {% block content %} {% endblock %}
        
        <p>RODAPE DA INDEX</p>
    
        <script src="{% static 'js/script.js' %}"></script>    
    </body>
</html>